# Postgres Database
POSTGRES_HOST=pg-database
POSTGRES_PORT=5432
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=ny_taxi

# pgadmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=root
PGADMIN_PORT=8085

# Kestra Postgres Database
KESTRA_POSTGRES_HOST=kestra-database
KESTRA_POSTGRES_PORT=5433
KESTRA_POSTGRES_USER=kestra
KESTRA_POSTGRES_PASSWORD=kestra
KESTRA_POSTGRES_DB=kestra

# Kestra
KESTRA_ADMIN_USERNAME=admin@kestra.io
KESTRA_ADMIN_PASSWORD=Admin1234
KESTRA_PORT=8080
KESTRA_METRICS_PORT=8081

# GCP Service Account Credentials
SECRET_GCP_SERVICE_ACCOUNT="Your Base64 Encoded GCP Service Account JSON"

# Google Gemini API Key
GEMINI_API_KEY="Your Google Gemini API Key"
